<header id="page-header">
    <nav>
        <div class="left">
            <a href="" class="brand"><img src="" alt=""></a>
        </div>
        <!--end left-->
        <div class="right">
            <div class="primary-nav has-mega-menu">
                <ul class="navigation">
                    <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('listing') }}">Search</a></li>
                    <li><a>Favourites</a></li>
                    <li><a>About</a></li>
                    <li><a>Contact</a></li>
                </ul>
                <!--end navigation-->
            </div>
            <!--end primary-nav-->
            {#<div class="secondary-nav">#}
                {#<a href="#" data-modal-external-file="modal_sign_in.php" data-target="modal-sign-in">Sign In</a>#}
                {#<a href="#" class="promoted" data-modal-external-file="modal_register.php" data-target="modal-register">Register</a>#}
            {#</div>#}
            <!--end secondary-nav-->
            <a class="btn btn-primary btn-small btn-rounded icon shadow add-listing" data-modal-external-file="modal_submit.php" data-target="modal-submit"><i class="fa fa-plus"></i><span>Add listing</span></a>
            <div class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </div>
            <!--end nav-btn-->
        </div>
        <!--end right-->
    </nav>
    <!--end nav-->
</header>
<!--end page-header-->