# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.root_dir%/../var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    knp.doctrine_behaviors.translatable_subscriber.translatable_trait: App\CoreBundle\Model\Translation\TranslatableTrait
    knp.doctrine_behaviors.translatable_subscriber.translation_trait: App\CoreBundle\Model\Translation\TranslationTrait
    app.languages:
        - { name: English, short: en }
        - { name: Russian, short: ru }
        - { name: Serbian, short: sr }
    router_languages: "en|sr|ru"
    i18n_languages: [en, sr, ru]