{% extends 'AdminBundle:Master/Layouts:admin.html.twig' %}
{% set page_title = 'User Edit' %}

{% block breadcrumbs %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('admin_dashboard') }}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('admin_user') }}">User</a>
                <i class="fa fa-circle"></i>
            </li>
            <li class="active">
                <a>User Edit</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block toptitle %}
    <h1 class="page-title"> User
        <small>Edit user: Firstname Lastname</small>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-user font-dark"></i>
                        <span class="caption-subject bold uppercase"> Edit User Form</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    {% include '@Admin/User/forms/create.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}